<p id="notice"><%= notice %></p>

<div class="top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>

<style>
  html{
    text-align: center;
    height: auto;
    width: 100%;
    position: absolute;
    color: white;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("/top.jpg")!important;
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  }
</style>
