// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.header-menu li{
  font-size: 20px;
  list-style: none;
  padding: 20px;
  float:left;
}


.container{
  text-align: center;
}

.form-heading{
  font-size: 25px;
  padding-top: 100px;


}

.form-body{
  padding-top: 20px;
  margin: 20px;
}
